<div class = "alert-success text-center p-3 shadow">
  <%= @answer %>
</div>
<div class = "alert-info text-center m-3 p-2 rounded text-decoration-none shadow-lg">
  <%= link_to "Ask a new question", "/ask" %>
</div>
